
#coding-image{
    border-radius: 8px;
    width: 500px;
    
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    
}


#devs{
    margin: 0px;
}

#emailID{
    color:  #4A4E69;
    ; 
}

#emailID:hover{
    color: rgb(177, 159, 159);
}

