#toDo { 
  background-color: #4a4e6969; 
}

#food {
  background-color: #9A8C98;
}

#weather {
  background-color: #6a719e;
}
.linktabs {
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 17px 20px;
    font-size: 17px;
    width: 25%;
    font-family: "Karla", sans-serif; 
    color: black;
  }
  
.linktabs:hover {
  background-color: rgb(53, 53, 51);
}
  

.contenttabs {
  background-color: #555;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
  height: max-content;
}
  
#toDo { 
  background-color: #4a4e6969; 
}

#food {
  background-color: #9A8C98;
}

#weather {
  background-color: #6a719e;
}

#foodImage{
  height: 130px;
  width: 200px;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

#landmarkLink{
  color: #212133;
}