


/* Style tab links */
.linktabs {
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: "Karla", sans-serif; 
    color: #4A4E69;
  }
  
  .linktabs:hover {
    background-color: rgb(53, 53, 51);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .contenttabs {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #toDo { background-color:#212133; }
  #food {background-color: #9A8C98;}
  #weather {background-color: #4A4E69;}
