


/* Style tab links */
.linktabs {
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: "Karla", sans-serif; 
    color: black;
  }
  
  .linktabs:hover {
    background-color: rgb(53, 53, 51);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .contenttabs {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    height: max-content;
  }
  
  #toDo { background-color: #4a4e6950; }
  #food {background-color: #9A8C98;}
  #weather {background-color: #6a719e;}
