/*Logo in Nav Bar*/
.logo{
    max-height:45px;
    width:auto;
    position:static;
    background-color: #212133;
    
}


/*Navigation Bar*/
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202729;
}
  
#nav li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #9CA1A1;
}




/*Hero Image and Text*/
.hero-graphic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1556079337-a837a2d11f04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80");  
    height: 60%;
    margin: 30px;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*Location section*/
.locations-section{
    margin: 30px;
}

.locations-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/*All the images*/
#arlington-image{
    display: grid;
    border-radius: 8px;
    height: 103.25px;
    width: 155px;
    float: left;
}

#jamesblake-image{
    border-radius: 8px;
    height: 104.5px;
    width: 156.75px;
}

#philadelphia-text{
    display: inline;
    margin-right: 15px;
    
}

#trustcomp-image{
    border-radius: 8px;
    height: 105px;
    width: 160px;

}

#theodore-image{
    border-radius: 8px;
    height: 118.5px;
    width: 151.5px;

}

#trinity-image{
    border-radius: 8px;
    height: 120px;
    width: 150px;

}

#proctor-image{
    border-radius: 8px;
    height: 120px;
    width: 160px;

}


/*Planning Hero Image and Text*/
.planning-section{
    margin: 30px;
}
.planning-hero-graphic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1458086294493-3a5a041289ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");  
    height: 60%;
    border-radius: 8px;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.planning-hero-text {
    text-align: left;
    margin: 100px;
    position: absolute;
    top: 15%;
    left: 0%;
    font-size: 20px;
    
    color: white;
    
}


/*Footer*/
.footer{
    text-align: center;
}

/*All images found form unsplash.com free for commercial and personal use*/
