
a {
  color: #00B7FF;
}

body {
    margin: 30px;
    background-color: #F2E9E4;
    font-family: "Karla", sans-serif; 
    color: #212133;
}

h1 {
    font-size: 3em;
}

.logo {
    float: left;
    padding-right: 15px;
    max-height:45px;
    width:auto;
    position:static;
}

/* Adapted from: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active Retrieved: 3/29/2020 */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212133;
}

/* Adapted from: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active Retrieved: 3/29/2020 */
#nav li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/* Adapted from: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active Retrieved: 3/29/2020 */
.active {
    background-color: #9A8C98;
}