
h1{
    margin-left: 15px;
}


/*all button styling adapted from:https://www.w3schools.com/howto/howto_css_search_button.asp*/
.btn-panel button {
  margin: 10px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border-radius: 5px ;
}


#greenButton {
  background-color: #5ed362; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#blueButton {
  background-color: #4390cf; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#orangeButton {
  background-color: #e4a32a; /* orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#redButton {
  background-color: #e7453f; /* red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#transportationImage {
    max-height:150px;
    width:auto;
    position:static;
    float: left;
    margin: 0 15px 0 0;
}

