

/*all button styling adapted from:https://www.w3schools.com/howto/howto_css_search_button.asp*/
.btn-panel button {
  margin-bottom: 30px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border-radius: 5px ;
}


#greenButton {
  background-color: #5ed362; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#blueButton {
  background-color: #4390cf; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#orangeButton {
  background-color: #e4a32a; /* orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#redButton {
  background-color: #e7453f; /* red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#linePhoto {
    max-height:150px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
  

table,td,tr {
  width: 35%;
  margin: 20px;
}

#lineTime{
  margin: 0;
}

#lineStop{
  margin: 0;
}

.border {
border-bottom : 1px solid  #4A4E69;
padding:10px;
margin: 0; 
}