


h1{
    margin-left: 15px;
}


/*all button styling adapted from:https://www.w3schools.com/howto/howto_css_search_button.asp*/

* {
  box-sizing: border-box;
}


form.searchBar input[type=text] {
  padding: 8px;
  font-size: 15px;
  border: 2px solid #212133;
  float: left;
  width: 400;
  background: #e1e1e4;
  border-radius: 3px;
}


form.searchBar button {
  float: left;
  width: 5%;
  padding: 9.5px;
  background: #212133;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  border-radius: 3px;
}

form.searchBar button:hover {
  background: #9A8C98;
}


form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}
/* end of button styling VIA w3Schools*/

#transportationImage {
    max-height:150px;
    width:auto;
    position:static;
    float: left;
    margin: 0 15px 0 0;
}